<ion-header>
  <ion-toolbar>
    <div style="display: flex; justify-content: space-between;">
      <div style="width: 72px;"></div>
      <ion-title class="ion-text-center"> Logout</ion-title>
      <ion-item lines="none" (click)="onLogout()" button>
        <ion-icon name="exit" slot="end"></ion-icon>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ftext">
    <div class="con">
      <p>Currently working to bring new features to your app!</p>
    </div>
  </div>
</ion-content>
